.gpt__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gpt__brand div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 150px;
  min-width: 120px;
}
